body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, rgba(141, 55, 55, 0.8), rgba(75, 18, 18, 0.6), rgba(160, 60, 60, 0.4), rgba(140, 50, 50, 0.2)), url('tu-imagen-de-fondo.jpg');
    background-size: cover;
    background-blend-mode: overlay; /* Mezcla el gradiente con la imagen de fondo */
  }

  /* Estilos para hacer la página responsive */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu__nav {
        margin-top: 10px;
    }

    .menu__list__item {
        margin: 5px 0;
    }

    .menu__contact {
        margin-top: 10px;
    }
}
  
  /* Estilos del menú */
  .menu {
    display: flex;
    background-color: rgba(52, 58, 64, 0.8); /* Fondo semitransparente */
    color: #fff;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu__title {
    font-size: 24px;
    margin: 0;
  }
  
  .menu__list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .menu__list__item {
    display: inline;
    margin-right: 20px;
  }
  
  .menu__list__item a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .menu__list__item a:hover {
    color: #f3f0e8;
  }
  
  .menu__list__item__contato {
    margin-top: 20px;
  }
  
  .menu__list__item__contato a {
    color: #f8f6ee;
  }
  
  /* Estilos del título */
  .title {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  }
  
  .title__div {
    display: flex;
    align-items: center;
  }
  
  .title__profile {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .title__container {
    flex: 1;
  }
  
  .title__bio {
    font-size: 24px;
    margin: 0;
  }
  
  .title__subsection {
    color: #6c757d;
  }
  
  .title__network {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .title__network__item {
    display: inline;
    margin-right: 20px;
  }
  
  .title__network__item a {
    color: #343a40;
    text-decoration: none;
  }
  
  .title__network__item a img {
    width: 12px;
    margin-left: 5px;
  }
  
  /* Estilos de las secciones */
  .about, .skills, .hobbies, .academic, .experience, .formcontato, .footer {
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    margin-top: 20px;
  }
  
  .about__title, .skills__title, .hobbies__title, .academic__title, .experience__section__title, .formcontato__title {
    margin-top: 0;
  }
  
  .about__paragraph {
    margin-bottom: 20px;
  }
  
  /* Estilos de los íconos y textos en las secciones */
  .skills__line, .hobbies__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .skills__box, .hobbies__box {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
    text-align: center;
  }
  
  .skills__img, .hobbies__img {
    width: 100px;
    margin: 0 auto;
  }
  
  .skills__name, .hobbies__name {
    margin-top: 10px;
  }
  
  .academic__courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .academic__courses__box {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
  
  .academic__courses__item__img {
    text-align: center;
  }
  
  .experience__box {
    display: flex;
    margin-bottom: 20px;
  }
  
  .experience__img {
    width: 150px;
    margin-right: 20px;
  }
  
  .experience__info {
    flex: 1;
  }
  
  .experience__title, .experience__text {
    margin: 0;
  }
  
  .experience__description {
    margin-top: 10px;
  }
  
  .experience__repo, .experience__demo {
    margin-right: 10px;
  }
  
  .experience__botao--repo, .experience__botao--demo {
    background-color: #ffc107;
    color: #343a40;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .experience__botao--repo:hover, .experience__botao--demo:hover {
    background-color: #ffcd39;
  }
  
  * Estilos del formulario de contacto */
.formcontato__text {
  flex: 1;
}

.formcontato__title {
  margin-top: 0;
}

.formcontato__subtext {
  color: #6c757d;
  margin-bottom: 20px;
}

.formcontato__form {
  margin-top: 20px;
}

.formcontato__input, .formcontato__textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
}

.formcontato__botao {
  background-color: #ffc107;
  color: